[net]
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256
method = LAST

[data]
data_path = /data/disk1/private/zhonghaoxi/law/data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0,1,2,3
test_data = 4
word2vec = path
type_of_label = law1,crit,time
graph = [(0 1),(1 2),(0 2),(2 3),(0 3)]
pad_length = 128
batch_size = 16
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 12800
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0
model_path = /data/disk1/private/zhonghaoxi/law/model/multi_lstm_final_law1_crit_time_small3
test_path = /data/disk1/private/zhonghaoxi/law/test_result/multi_lstm_final_law1_crit_time_small3

[debug]
output_time = 128
test_time = 25006
