[net]
name = CNN_FINAL
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256
attention = False

[data]
data_path = /home/guozhipeng/law_data/data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
test_data = 15,16,17,18,19
word2vec = path
type_of_label = time,crit,law1
graph = [(1 2),(2 3)]
pad_length = 128
batch_size = 16
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 12800
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0
model_path = /home/xcj/zhx/law/model/cnn_final_reverse_big2
test_path = /home/xcj/zhx/law/test_result/cnn_final_reverse_big2
pre_train = 14

[debug]
output_time = 128
test_time = 25006
