[net]
name = CNN_FINAL
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256
attention = False

[data]
#data_path = /data/disk1/private/zhonghaoxi/law/data
data_path = /home/zhonghaoxi/law/small_data
train_data = 0
test_data = 1
word2vec = path
type_of_label = law1,crit,time
graph = [(1 2),(1 3),(2 3)]
pad_length = 128
batch_size = 256
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 12800
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0
pre_train = 28
model_path = /data/disk1/private/zhonghaoxi/law/model/cnn_final_chaoba_big2
#model_path = /data/disk1/private/zhonghaoxi/law/model/cnn_final_chaoba_big22
test_path = /data/disk1/private/zhonghaoxi/law/test_result/cnn_final_chaoba_big2

[debug]
output_time = 128
test_time = 25007
