[net]
name = ArtFact
hidden_size = 75

[data]
data_path = /data/zhx/law/data
dataset = pku
type_of_label = law
type_of_loss = single_classification

[output]
model_name = art_fact_pku
model_path = /data/thu/law/model/
test_path = /data/thu/law/test_result

[train]
train_num_process = 5
test_num_process = 5
