[net]
name = ArtFact
hidden_size = 256
fc1_feature = 512
more_fc = True

[data]
data_path = /data/zhx/law/data
dataset = pku
batch_size = 16

[output]
model_name = art_fact_pku_mtl_5000
model_path = /data/thu/law/model/
test_path = /data/thu/law/test_result

[train]
train_num_process = 5
test_num_process = 5
