[net]
name = CNN
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = True

[data]
data_path = /data/zhx/law/data
#data_path = /home/zhonghaoxi/law/ata
train_data = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
test_data = 15,16,17,18,19
word2vec = path
pad_length = 512
batch_size = 128
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0
model_path = /data/zhx/law/model/new
test_path = /data/zhx/law/test_result/new
train_num_process = 5
test_num_process = 5


[debug]
output_time = 128
test_time = 25600
