[net]
name = CNN
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = True

[data]
data_path = /data/disk1/private/zhonghaoxi/law/small_data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0
test_data = 1
word2vec = path
type_of_label = crit,time,law1
pad_length = 512
batch_size = 16
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0.5
model_path = /data/disk1/private/zhonghaoxi/law/model/cnn_multi_baseline_test
model_path = /data/disk1/private/zhonghaoxi/law/test_result/cnn_multi_baseline_test

[debug]
output_time = 4
test_time = 25600
