[net]
name = CNNSeq
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256
attention = False

[data]
data_path = /data/zhx/law/data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
test_data = 15,16,17,18,19
word2vec = path
graph = [(1 2),(2 3)]
pad_length = 128
batch_size = 128
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 12800
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0
model_path = /data/zhx/law/model/seq
test_path = /data/zhx/law/test_result/seq
train_num_process = 8
test_num_process = 5
pre_train=5

[debug]
output_time = 128
test_time = 25006
