[net]
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256

[data]
data_path = /home/guozhipeng/law_data/goodData1
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0,1,2,3
test_data = 4
word2vec = path
type_of_label = law1
pad_length = 512
batch_size = 16
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

top_k = 2

[train]
epoch = 128
learning_rate = 0.001
momentum = 0.99
optimizer = adam
dropout = 0.5
model_path = /home/guozhipeng/law/baseline_small
test_path = /home/guozhipeng/law/baseline_small

[debug]
output_time = 64
test_time = 512
