[net]
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = False
hidden_size = 256

[data]
data_path = /home/guozhipeng/law_data/small
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0
test_data = 0
word2vec = path
type_of_label = time
pad_length = 512
batch_size = 2
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

top_k = 2

[train]
epoch = 128
learning_rate = 0.001
momentum = 0.99
optimizer = adam
dropout = 0.5
model_path = /home/guozhipeng/law/baseline_small_time
test_path = /home/guozhipeng/law/baseline_small_time

[debug]
output_time = 10
test_time = 512
