[net]
hidden_size = 256
more_fc = False
method = LAST

[data]
data_path = /data/disk1/private/zhonghaoxi/law/data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
test_data = 15,16,17,18,19
word2vec = path
type_of_label = crit
pad_length = 128
batch_size = 16
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0.5
model_path = /data/disk1/private/zhonghaoxi/law/model/multi_lstm_crit_baseline_big
test_path = /data/disk1/private/zhonghaoxi/law/test_result/multi_lstm_crit_baseline_big

[debug]
output_time = 128
test_time = 1024
