[net]
max_gram = 5
min_gram = 1
fc1_feature = 256
filters = 128

[data]
data_path = /home/zhonghaoxi/law/data
train_data = 0,1,2,3
test_data = 4
word2vec = path
type_of_label = time
pad_length = 1024
batch_size = 16
shuffle = False
vec_size = 200

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99

[debug]
output_time = 4
test_time = 256
