[net]
max_gram = 5
min_gram = 1
fc1_feature = 256
filters = 128

[data]
data_path = /data/disk1/private/zhonghaoxi/law/data
train_data = 0,1,2,3,4
test_data = 5
word2vec = path
type_of_label = time
pad_length = 1024
batch_size = 16
shuffle = False
vec_size = 100

[train]
epoch = 65536
learning_rate = 1e-5
momentum = 0.99

[debug]
output_time = 128
test_time = 256
