[net]
max_gram = 5
min_gram = 1
fc1_feature = 256
filters = 128

[data]
data_path = /data/disk1/private/zhonghaoxi/law/small_data
#data_path = /home/zhonghaoxi/law/small_data
train_data = 0
test_data = 
word2vec = path
type_of_label = crit
pad_length = 512
batch_size = 16
shuffle = False
vec_size = 200

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam

[debug]
output_time = 4
test_time = 25600
