[net]
max_gram = 5
min_gram = 2
fc1_feature = 1024
filters = 128

[data]
data_path = /data/disk1/private/zhonghaoxi/law
train_data = 0
test_data =
word2vec = path
type_of_label = time
pad_length = 1024
batch_size = 128
shuffle = False
vec_size = 100

[train]
epoch = 256
learning_rate = 1e-3
momentum = 0.99

[debug]
output_time = 16
test_time = 256
