[net]
max_gram = 5
min_gram = 2
fc1_feature = 128
filters = 64

[data]
data_path = ""
train_data = 0,1,2,3
test_data = 4,5
word2vec = path
type_of_label = crit,law,time
pad_length = 1024
batch_size = 128
shuffle = False

[train]
epoch = 2000
iteration = 128
learning_rate = 1e-5
momentum = 0.99

[debug]
output_time = 128
test_time = -1
