[net]
max_gram = 5
min_gram = 3
fc1_feature = 512
filters = 128

[data]
#data_path = /data/disk1/private/zhonghaoxi/law/data
data_path = /home/guozhipeng/law/data
train_data = 0
test_data = 0
word2vec = path
type_of_label = time
pad_length = 512
batch_size = 64
shuffle = False
vec_size = 200

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0.5
l2_nor = 0.0001
log_interval = 1
test_interval = 500
save_interval = 500


[debug]
output_time = 128
test_time = 512
