[net]
name = CNN
max_gram = 5
min_gram = 2
fc1_feature = 256
filters = 64
more_fc = True

[data]
data_path = /data/disk1/private/zhonghaoxi/law/final_data2
#data_path = /home/zhonghaoxi/law/ata
train_data = 0,1,2,3,4,5
test_data = 6
word2vec = path
type_of_label = time
pad_length = 512
batch_size = 128
shuffle = False
vec_size = 200
sentence_num = 32
sentence_len = 128

[train]
epoch = 128
learning_rate = 1e-3
momentum = 0.99
optimizer = adam
dropout = 0.5
model_path = /data/disk1/private/zhonghaoxi/law/model/new
test_path = /data/disk1/private/zhonghaoxi/law/test_result/new
train_num_process = 3
test_num_process = 1


[debug]
output_time = 1
test_time = 25600
