[net]
name = ArtFact
hidden_size = 75

[data]
data_path = /data/thu/data
dataset = cail
train_data = 0
test_data = 0
type_of_label = crit
type_of_loss = single_classification
batch_size = 1

[output]
model_name = art_fact_cjo
output_time = 1
model_path = /data/thu/law/model/
test_path = /data/thu/law/test_result
test_time = 1

[train]
train_num_process = 1
test_num_process = 1
